@import './colors.scss';
@import './sizes.scss';

// Shadows
$shadow-standard: 0px 4px 6px 0px #00000012;

//Borders
$border-color: $main-color;

//Radius
$main-border-radius: $size-e-xxs;

$main-hover-opacity: 0.8;
