@import '../mixins/mixins';

$icon-width: 22;
$icon-height: 25;

$sprite-colors: (#000000, #ffffff, #03fefd, #0180fe, #eacfc2, transparent);
$sprite: (
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 3, 3, 1, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 1, 4, 4, 4, 1, 3, 3, 1, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 1, 4, 4, 4, 4, 4, 1, 1, 1, 1, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 1, 4, 4, 4, 4, 4, 1, 3, 3, 4, 1, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 1, 3, 4, 4, 4, 4, 4, 4, 1, 1, 4, 1, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 1, 3, 4, 4, 5, 2, 2, 2, 4, 4, 2, 1, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 1, 3, 4, 5, 2, 2, 1, 1, 5, 1, 2, 1, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 1, 4, 5, 2, 2, 1, 1, 5, 1, 2, 1, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 1, 1, 4, 5, 5, 2, 2, 2, 5, 2, 2, 1, 0, 0, 0, 0),
  (0, 0, 0, 1, 1, 3, 1, 1, 0, 5, 1, 1, 1, 1, 5, 1, 1, 1, 0, 0, 0),
  (0, 0, 1, 4, 3, 3, 3, 1, 1, 5, 5, 5, 5, 5, 1, 3, 3, 4, 1, 0, 0),
  (0, 0, 1, 4, 4, 3, 3, 3, 3, 1, 1, 1, 1, 1, 3, 3, 4, 4, 1, 0, 0),
  (0, 1, 4, 4, 4, 3, 1, 3, 3, 3, 3, 3, 3, 3, 1, 3, 4, 4, 4, 1, 0),
  (0, 1, 4, 4, 1, 1, 1, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 4, 4, 1, 0),
  (0, 1, 4, 4, 4, 1, 1, 3, 3, 3, 3, 3, 3, 3, 1, 1, 4, 4, 4, 1, 0),
  (0, 1, 4, 4, 4, 1, 1, 4, 4, 4, 4, 4, 4, 4, 1, 1, 4, 4, 4, 1, 0),
  (0, 0, 1, 1, 1, 0, 1, 4, 4, 4, 4, 4, 4, 4, 1, 0, 1, 1, 1, 0, 0),
  (0, 0, 0, 0, 0, 1, 3, 3, 4, 4, 4, 4, 3, 3, 3, 1, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 1, 4, 4, 3, 3, 3, 1, 3, 3, 3, 3, 4, 1, 0, 0, 0, 0),
  (0, 0, 0, 1, 1, 4, 4, 4, 3, 1, 0, 1, 3, 4, 4, 4, 1, 1, 0, 0, 0),
  (0, 1, 1, 4, 4, 4, 4, 4, 1, 0, 0, 0, 1, 4, 4, 4, 4, 4, 1, 1, 0),
  (1, 4, 4, 4, 4, 4, 4, 4, 1, 0, 0, 0, 1, 4, 4, 4, 4, 4, 4, 4, 1),
  (1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1)
);

@mixin megaman-icon($icon-pixel-dimmension) {
  @include render-icon(
    $icon-pixel-dimmension,
    $icon-width,
    $icon-height,
    $sprite,
    $sprite-colors
  );
}

@mixin megaman-icon-before($icon-pixel-dimmension) {
  @include render-icon-before(
    $icon-pixel-dimmension,
    $icon-width,
    $icon-height,
    $sprite,
    $sprite-colors
  );
}
