@import '../common/variables/colors';
@import '../common/variables/sizes';
@import '../common/mixins/mixins';
@import '../common/variables/clip-paths';
@import '../common/variables/media-queries';

.snes-container {
  position: relative;
  padding: $size-e-l;
  background-color: transparent;
  @include pixelated-border;
  @include generate-shadow-shine;
  @include set-background-colors;

  @include tablet-lg {
    padding: $size-e-xxxs;
  }

  > * {
    &:not(:last-child) {
      margin-bottom: $size-e-m;
    }
  }
}
